<div class="show">

  <div class="btn btn-info">
   <%= link_to "Edit Task", edit_path %>
  </div>

  <h2><%= @task.title %></h2>
  <p><%= @task.details %></p>

  <div class="btn btn-danger">

    <%= link_to "Delete",
      delete_task_path(@task),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
    %>
  </div>

  <div class="btn">
    <%= link_to "Back", home_path %>
  </div>
</div>
